html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;

}
body{
    overflow-x: hidden;
}
@mixin transition-ease{
    transition: all 1s ease;
}

@function set-text-color($color){
    @if(lightness($color)>40%)
    {
        @return $primary-color;
    }
    @else{
        @return #fff;
    }
}
@mixin cart-icon-component($size,$padding:1rem){
    border-radius: 50%;
    width: $size;
    height: $size;
    padding: $padding;
    background-color: $primary-color;
}
@mixin rate-component($width,$height,$font-size:1.4rem){
    width: $width;
    height: $height;
    font-size: $font-size;
    background-color: #fff;
    border-radius: 62px;
    border: solid 4px $grey-border;
    text-align: center;
    line-height: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@mixin setBackgroundSlide($bg1Url,$bg2Url,$bg3Url,$bgColor){
    background: $bg1Url center/100% 80%,$bg3Url bottom/30% 80%,$bg2Url center/100% 80%,$bgColor;
    background-repeat: no-repeat;
    background-position: center bottom;
    // background-size: 80% 65%;

}
@mixin setNavButtons(){
    display: flex;
    position: absolute;
    right: 5rem;
    top: 10rem;
    gap:2rem;
    img{
        cursor: pointer;
    }
}
@mixin centerElement(){
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}