html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
@mixin transition-ease{
    transition: all 1s ease-in-out;
}

@function set-text-color($color){
    @if(lightness($color)>40%)
    {
        @return $primary-color;
    }
    @else{
        @return #fff;
    }
}
@mixin cart-icon-component($size){
    border-radius: 50%;
    width: $size;
    height: $size;
    background-color: $secondary-color;
}