.click{
    border-bottom: solid 2px #000000;
    color: #000000;
}
.unclick{
    color: rgba(0,0,0,0.55);
}
.login-nav{
    display: flex;
    gap: 5rem;
    position: relative;
    bottom: 4rem;
    %login-nav__item{
        font-weight: 400;
        font-size: 1.8rem;
        width: 45%;
        text-align: center;
        cursor: pointer;

    }
    &__email{
        // border-bottom: solid 2px #000000;
        // color: #000000;
        @extend %login-nav__item;
    }
    &__mobile{
        @extend %login-nav__item;
    }
}
.form{
    .forget-pass{
        font-weight: 400;
        font-size: 1.4rem;
        align-self: flex-end;
    }
    button{
        margin-top: 2rem;
    }
}