$secondary-color:#2F2105;
$primary-color:#FF902B;
$un-active-color:#FFD28F;
$grey-border:#b5b4b0;
$border-radius:22px;
$grey:#7E7D7A;
$heat-drinks-primary-color:#A86518;
$cold-drinks-primary-color:#462A24;
$milk-shake-primary-color:#726253;
$cup-cake-primary-color:#DF6D76;
